<%- include('../partials/header') %>

<p><%= post.description  %></p>
<p>Interests: <%= post.interests.map(i => i.name).join(' | ') %></p>
<p><%= post.zipcode  %></p>
<p><%= post.when  %></p>

<% if (user._id.equals(post.user)) { %>
    <a href="/posts/<%= post._id %>/edit">Edit</a>
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        <button type="submit">DELETE</button>
    </form>
<% } %>








<%- include('../partials/footer') %>